@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');
body{
    font-family: "Moon Dance", cursive;
    background-color:  rgb(12, 12, 57);
    overflow-x: hidden;
    overflow-y: auto;
}   